<h1>New Revolution</h1>

<%= render partial: 'form', revolution: @revolution %>

<%=render "tasks/show_task", @tasks %>

<div class="container">
  <%= link_to 'Save', movements_path, class: "btn btn-success save" %>

  <%= link_to 'Back', movements_path, class: "btn btn-secondary back" %>
</div>

<%#= render partial: 'revolutions/form', revolution: @movement.revolutions.new %>

<%#= link_to 'Back', movements_path %>
